/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    background-color: rgba(78, 82, 65, 0.5);
}

/* Navigation Bar: List Styling */

#navbar ul{
   
    display: flex;

    
}

#navbar ul li{ 
    list-style: none;
    font-size: 25px;
}

#navbar ul li a{

    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: white;
    
}

#Home{
    position: relative;
    background: url('/banner-bg.png') no-repeat center center/cover;
    height: 100vh;
    top:0px;
    left:0px;
    width: 100%;


}

.txt{
    display: flex;
    position: relative;
    bottom: 200px;
    left: 200px;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
    font-weight: 900;

}
