<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/park" method="post">
        <input type="text" name="D2" id="" placeholder="D2">
        <input type="text" name="RPDE" id="" placeholder="RPDE">
        <input type="text" name="PPE" id="" placeholder="PPE">
        <input type="text" name="spread2" id="" placeholder="spread2">
        <input type="text" name="DFA" id="" placeholder="DFA">
        <input type="text" name="HNR" id="" placeholder="HNR">
        <input type="text" name="Shimmer_APQ3" id="" placeholder="Shimmer_APQ3">
        <input type="text" name="MDVP_Jitter" id="" placeholder="MDVP_Jitter">
        <input type="submit" value="Submit">
    </form>
</body>
</html>