<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/breast" method="post">
        <input type="text" name="radius_mean" id="" placeholder=" radius_mean ">
        <input type="text" name="texture_mean" id="" placeholder="texture_mean">
        <input type="text" name="perimeter_mean" id="" placeholder="perimeter_mean">
        <input type="text" name="area_mean" id="" placeholder="area_mean">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>